body::-webkit-scrollbar {
    width: .5em;
}

body::-webkit-scrollbar-track {
    background: #f2f2f2;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

body::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
}